{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}

<form action="/staffaddplane" method="POST">
    <input type="number" name = "airplane_id" placeholder="Airplane ID" required/> </br></br>
    <input type="number" name = "num_seats" placeholder="Number of Seats" required/> </br></br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
</br></br>

<a href="/staffview">Go back</a>
{% endblock %}