{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<form action="/staffaddflight" method="POST">
	<input type="text" name = "flight_number" placeholder="Flight Number" required/> </br>
	<input type="datetime" name = "depart_ts" placeholder="Depart Timestamp" required/></br></br>
    <input type="number" name = "airplane_id" placeholder="Airplane ID" required/> </br></br>
	<input type="datetime" name = "arrival_ts" placeholder="Arrival Timestamp" required/></br></br>
    <input type="text" name = "depart_airport_code" placeholder="Departing Airport Code"/> </br></br>
    <input type="text" name = "arrival_airport_code" placeholder="Arrival Airport Code"/> </br></br>
    <input type="text" name = "flight_status" placeholder="flight_status"/> </br></br>
    <input type="number" name = "base_price" placeholder="Base Ticket Price"/> </br></br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
</br></br>

<a href="/staffview">Go back</a>
{% endblock %}