{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<p class="message">{{company}}'s Flight History:</p>
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Airline</th>
	<th>Flight Number</th>
	<th>Depart Timestamp</th>
    <th>Airplane ID</th>
	<th>Arrival Timestamp</th>
    <th>Departure Airport</th>
	<th>Destination Airport</th>
	<th>Flight Status</th>
    <th>Base Price</th>

{% for line in flights %}
	<tr>
		<td>{{line['airline_name']}}</td>
		<td>{{line['flight_number']}}</td>
        <td>{{line['depart_ts']}}</td>
        <td>{{line['airplane_id']}}</td>
        <td>{{line['arrival_ts']}}</td>
		<td>{{line['arrival']}}</td>
		<td>{{line['destination']}}</td>
		<td>{{line['flight_status']}}</td>
        <td>{{line['base_price']}}</td>
	</tr>
{% endfor %}
</table>

<form action="/staffaddflight" method="POST">
	<input type="text" name = "flight_number" placeholder="Flight Number" required/> </br>
	<input type="datetime" name = "depart_ts" placeholder="Depart Timestamp" required/></br></br>
    <input type="number" name = "airplane_id" placeholder="Airplane ID" required/> </br></br>
	<input type="datetime" name = "arrival_ts" placeholder="Arrival Timestamp" required/></br></br>
    <input type="text" name = "depart_airport_code" placeholder="Departing Airport Code"/> </br></br>
    <input type="text" name = "arrival_airport_code" placeholder="Arrival Airport Code"/> </br></br>
    <input type="text" name = "flight_status" placeholder="flight_status"/> </br></br>
    <input type="number" name = "base_price" placeholder="Base Ticket Price"/> </br></br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
</br></br>

<a href="/staffview">Go back</a>
{% endblock %}