{% extends 'base.html' %}

{% block head %}
<h1>Welcome, {{username}}!</h1>
{% endblock %}

{% block body %}
<p class="message">Here are your companies' upcoming flights:</p>
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Airline</th>
	<th>Flight Number</th>
	<th>Depart Timestamp</th>
    <th>Airplane ID</th>
	<th>Arrival Timestamp</th>
    <th>Departure Airport</th>
	<th>Destination Airport</th>
	<th>Flight Status</th>
    <th>Base Price</th>

{% for line in flights %}
	<tr>
		<td>{{line['airline_name']}}</td>
		<td>{{line['flight_number']}}</td>
        <td>{{line['depart_ts']}}</td>
        <td>{{line['airplane_id']}}</td>
        <td>{{line['arrival_ts']}}</td>
		<td>{{line['depart_airport_code']}}</td>
		<td>{{line['arrival_airport_code']}}</td>
		<td>{{line['flight_status']}}</td>
        <td>{{line['base_price']}}</td>
	</tr>
{% endfor %}
</table>
<a href="/airportreg">Register an Airport</a>
<a href="/airplanereg">View all Airplanes/Add an Airplane</a>
<a href="/flightreg">Add a Flight</a>
<a href="/manageflight">Change a Flight's status</a>
<a href="/flightdetails">View the details of a flight</a>
<a href="/logout">Logout</a>
{% endblock %}