{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<p class="message">Search for a flight:</p>
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>
<form action="/staffmodifyflight" method="POST">
    <input type="text" name = "flight_number" placeholder="Search by Flight Number" required/> </br>
    <p class="message">Change flight status to:</p>
	<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>
	<input type="radio" id="delayed" name="status" value="Delayed">
	<label for="Delayed">Delayed</label><br>
	<input type="radio" id="ontime" name="status" value="On-time">
	<label for="On-time">On-time</label><br>
	<input type="submit" value = Change>
    {% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<p class="message">Here are your companies' flights:</p>
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Airline</th>
	<th>Flight Number</th>
	<th>Depart Timestamp</th>
    <th>Airplane ID</th>
	<th>Arrival Timestamp</th>
    <th>Departure Airport</th>
	<th>Destination Airport</th>
	<th>Flight Status</th>
    <th>Base Price</th>

{% for line in flights %}
	<tr>
		<td>{{line['airline_name']}}</td>
		<td>{{line['flight_number']}}</td>
        <td>{{line['depart_ts']}}</td>
        <td>{{line['airplane_id']}}</td>
        <td>{{line['arrival_ts']}}</td>
		<td>{{line['arrival']}}</td>
		<td>{{line['destination']}}</td>
		<td>{{line['flight_status']}}</td>
        <td>{{line['base_price']}}</td>
	</tr>
{% endfor %}
</table>

</br></br>

<a href="/staffview">Go back</a>
{% endblock %}