{% extends 'base.html' %}

{% block head %}
<h1>Search Future Flights</h1>
{% endblock %}


{% block body %}
<p class = "message">Search for future flights here:</p>
<form action="/search" method="POST">
	<input type="text" name="src" placeholder="Departure Airport" required/>
	<input type="text" name="dest" placeholder="Destination Airport" required/>
	<input type="date" name="dep_date" placeholder="Departure Date" required/></br>
	<label for="round_trip">(Optional) Round Trip?</label>
	<input type="checkbox" name="round_trip" value = "on"/></br>
	<input type="date" name="arr_date" placeholder="(Optional) Arrival Date"/></br></br>
	<input type="submit" value = Search />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Airline Name</th>
	<th>Flight Number</th>
	<th>Depart Timestamp</th>
	<th>Arrival Timestamp</th>

{% for elem in res %}
	<tr>
		<td>{{elem['airline_name']}}</td>
		<td>{{elem['flight_number']}}</td>
		<td>{{elem['depart_ts']}}</td>
		<td>{{elem['arrival_ts']}}</td>
	</tr>
{% endfor %}
</table>

</br>

<a href='/purchasepage'>
	<button>Purchase Tickets</button>
</a>

</br>
</br>
<a href="/">Go back</a>

{% endblock %}