{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<!-- <p class="message">Here are {{company}}'s owned Airplanes:</p>
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Airline</th>
    <th>Airplane ID</th>
	<th>Number of Seats</th>
</table>

{% for line in planes %}
	<tr>
		<td>{{line['airline_name']}}</td>
        <td>{{line['airplane_id']}}</td>
        <td>{{line['num_seats']}}</td>
	</tr>
{% endfor %} -->


<form action="/staffaddplane" method="POST">
    <input type="number" name = "airplane_id" placeholder="Airplane ID" required/> </br></br>
    <input type="number" name = "num_seats" placeholder="Number of Seats" required/> </br></br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
</br></br>

<a href="/staffview">Go back</a>
{% endblock %}