{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<form action="/registerAuth" method="POST">
	<input type="text" name = "username" placeholder="username" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br></br>

	<input type="text" name = "fname" placeholder="First Name"/> </br></br>
	<input type="text" name = "lname" placeholder="Last Name"/> </br></br>
	
	<label for'employer'>Choose employer</label></br>
	<select name='employer' id='employer'>
		{% for elem in airlines %}
		<option value={{elem['airline_name']}}>{{elem['visual']}}</option>
		{% endfor %}
	</select></br></br>
	
	<label for='phone'>Phone Number</label></br>
	<input type="text" name = "phone" placeholder="XXX-XXX-XXXX" required/> </br>
	<label for='aux_phone'>Add a secondary phone number?</label>
	<input type="checkbox" name="check_aux_phone" value = "on"/></br>
	<input type="text" name = "aux_phone" placeholder="XXX-XXX-XXXX"/> </br></br>

	<label for='DoB'>Date of Birth</label></br>
	<input type="date" name = "DoB" placeholder="Date of Birth"/> </br></br>
	<input type='hidden' name = 'type' value = 'staff'/>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
</br></br>
<a href="/register">Go back</a>
{% endblock %}