{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<form action="/registerAuth" method="POST">
	<input type="text" name = "username" placeholder="username" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br></br>
	<input type="text" name = "fname" placeholder="First Name"/> </br></br>
	<input type="text" name = "lname" placeholder="Last Name"/> </br></br>
	<input type="date" name = "DoB" placeholder="Date of Birth"/> </br></br>
	<input type='hidden' name = 'type' value = 'staff'/>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
</br></br>
<a href="/register">Go back</a>
{% endblock %}